{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; 
    }
</style> <!-- the grid-template columns determines the relative width of the browse container and the main display of rooms-->


<div class="home-container"> <!-- this is our main container-->

    <div> <!-- this is our container around our list of topics-->
        
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>{{rooms.count}} rooms available </h5>
        <a href="{% url 'create-room' %}">Create Room</a> 
        
        {% include 'base/feed_component.html' %}
    </div>


    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock content %}