{% extends 'main.html' %}

{% block content %}

<h1>Home Template</h1>


<div class="home-container">

    <div>
        <h3>Browse Topics</h3>
        <hr> <!-- this is a line break-->
    </div>

    <a href="{% url 'create-room' %}">Create Room</a> 
    <!-- this link allows us to create a room at the top of the list of existing rooms -->

    <div>
        {% for room in rooms %}
            <div>
                <a href="{% url 'update-room' room.id%}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="{% url 'room' room.id%}">{{room.name}}</a></h5>
            <!-- we can use 'room' above because we are referencing the name of the urlpatterns path rather than the url itself -->
                <small>{{room.topic}}</small>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}