{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr; 
    }
</style> <!-- the grid-template columns determines the relative width of the browse container and the main display of rooms-->


<div class="home-container"> <!-- this is our main container-->

    <div> <!-- this is our container around our list of topics-->
        <h3>Browse Topics</h3>
        <hr> <!-- this is a line break before we loop through and display all of the topics-->

        <div>
            <a href="{% url 'home' %}"> All </a>
        </div> <!--this leaves an option for them to go back to all of the topics -->

        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a> <!--added a dynamic link to send you home but subdirected to the topic name-->
        </div>
        {% endfor %}

    </div>

    <div> <!-- this is our container around our list of rooms-->
        <a href="{% url 'create-room' %}">Create Room</a> 
    <!-- this link allows us to create a room at the top of the list of existing rooms -->
        <div>
            {% for room in rooms %}
                <div>
                    <a href="{% url 'update-room' room.id%}">Edit</a>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                    <span>@{{room.host.username}}</span>
                    <h5>{{room.id}} -- <a href="{% url 'room' room.id%}">{{room.name}}</a></h5>
                <!-- we can use 'room' above because we are referencing the name of the urlpatterns path rather than the url itself -->
                    <small>{{room.topic}}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock content %}